body { margin: 0; font-family: sans-serif; background: #000; color: #fff; }
.hidden { display: none !important; }
.screen { height: 100vh; width: 100vw; position: relative; }

/* Лента */
.feed { height: 100%; overflow-y: scroll; snap-type: y mandatory; }
.video-card { height: 100vh; snap-align: start; position: relative; }
.video-card video, .video-card img { width: 100%; height: 100%; object-fit: cover; }

/* Навигация */
.bottom-nav { position: fixed; bottom: 0; width: 100%; display: flex; justify-content: space-around; background: #000; padding: 15px 0; border-top: 0.5px solid #333; }
.bottom-nav i { font-size: 24px; color: white; }

/* Чат */
#chat-messages { height: 80vh; overflow-y: auto; padding: 10px; display: flex; flex-direction: column; }
.msg { background: #222; margin: 5px; padding: 10px; border-radius: 10px; width: fit-content; }
.chat-input-area { position: fixed; bottom: 70px; width: 100%; display: flex; background: #111; }
